<% provide(:title, 'Blog') %>
<% provide(:ogdesc, 'TrackMyMixes, taking your music to the next level.') %>
  <div class="row">
    <div class="col-md-2">
      <div>
      </div>
    </div>
    <div class="col-md-8">
<div class="center">
          <h2 class="three-em border-off" style="font-weight: bold; ">
            Blog
          </h2>

      </div>
    </div>
    <div class="col-md-2">
      <div>
      </div>
    </div>
  </div>

