<% provide(:ogdesc, 'TrackMyMixes, taking your music to the next level.') %>
<div class="center jumbotron ">
<h1 class="three-em" style="font-family: 'Droid Sans',Arial,serif; font-weight: bold;">Track My Mixes</h1>

</div>
<div class="row">

    <div class="col-md-12">
<div>
        <h2 class="frontpage">Upload and be heard.</h2>
</div>
    </div>
</div>
