$lightGray: #999;
body {
  padding-top: 0px;
  padding-bottom: 20px !important;
  font-family: Arial,Helvetica,sans-serif;
background-attachment: scroll, fixed;
background-color: rgb(0, 0, 0);
background-position: left top, center center;
background-repeat: repeat, no-repeat;
background-size: auto auto, cover;
}

@media (min-width: 992px) {
  .navbar {
    padding-right: 15px;
  }
}
.padder-80 {
  margin-top: 78px;
}
abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 0px dotted rgb(153, 153, 153);
}
.home {
color: rgb(255, 255, 255);
padding-top: 0px;
}
/* universal */
.navbar-inverse .navbar-nav > li > a {
    border: 1px solid rgb(21, 172, 230) !important;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    color: rgb(21, 172, 230);
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(51,51,51) !important;
    background-color: rgb(21, 172, 230);
    border: 1px solid rgb(21, 172, 230);
    border-radius: 6px;
}
.navbar-inverse .navbar-nav > li:hover {
    background-color: transparent;
}

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


li.active {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgb(21, 172, 230) !important;
    color: rgb(51, 51, 51) !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-button {
  margin-bottom: 0px;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgb(21, 172, 230);
}
.navbar-inverse .navbar-toggle {
  border: 1px solid rgb(21, 172, 230);
}

.navbar-brand {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: rgba(21, 172, 230, 1.0) !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1;
  padding: 18px;
  &:hover {
    -webkit-animation: navbrand 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: navbrand 0.5s; /* Firefox < 16 */
        -ms-animation: navbrand 0.5s; /* Internet Explorer */
         -o-animation: navbrand 0.5s; /* Opera < 12.1 */
            animation: navbrand 0.5s;
    text-decoration: none;
  }
}
.navbar-color > .navbar-header > .navbar-brand:hover, 
.navbar-color > .navbar-header > .navbar-brand:focus, 
.navbar-color > .navbar-header > navbar-brand:active {
  color: rgba(21, 172, 230, 1.0) !important;
}
.navbar-brand:hover, .navbar-brand:focus, navbar-brand:active {
  color: rgba(153, 153, 153, 1.0) !important;
}
.navbar-color > .navbar-header > .navbar-brand {
  color: rgba(153, 153, 153, 1.0) !important;
}
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(21, 172, 230) !important;
}
.navbar-color .navbar-inverse {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(21, 172, 230) !important;
}
.navbar-color {
    background-color: rgba(51, 51, 51, 0.9) !important;
    border-color: rgba(255, 255, 255, 1.0) !important;
    opacity: 0.3;

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.hide-this {
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}


@keyframes navbrand {
    from { color: rgba(255, 255, 255, 1.0) !important; }
    to   { color: rgba(21, 172, 230, 1.0) !important; }
}

/* Firefox < 16 */
@-moz-keyframes navbrand {
    from { color: rgba(255, 255, 255, 1.0) !important; }
    to   { color: rgba(21, 172, 230, 1.0) !important;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes navbrand {
    from { color: rgba(255, 255, 255, 1.0) !important; }
    to   { color: rgba(21, 172, 230, 1.0) !important; }
}

/* Internet Explorer */
@-ms-keyframes navbrand {
    from { color: rgba(255, 255, 255, 1.0) !important; }
    to   { color: rgba(21, 172, 230, 1.0) !important; }
}

/* Opera < 12.1 */
@-o-keyframes navbrand {
    from { color: rgba(255, 255, 255, 1.0) !important; }
    to   { color: rgba(21, 172, 230, 1.0) !important; }
}


.navbar-inverse .navbar-offcanvas {
    background-color: transparent !important;
}
.navbar-inverse .navbar-offcanvas {
border: 0px;
}
.navbar-nav {
}
.navbar-nav li {
}
h1.three-em {
  font-size: 8em !important;
  font-size: 8vw !important;
  color: rgb(21, 172, 230) !important;
  text-transform: uppercase;
}
h2.three-em {
  color: rgb(21, 172, 230);
  padding: 15px;
  font-size: 3em;
  font-weight: 500;
  border: 2px solid rgb(21, 172, 230);
  border-radius: 6px;
}
h2 span {
  color: rgb(21, 172, 230);
}
h2.who {
  color: rgb(21, 172, 230);
  padding: 15px;
  font-size: 90px;
  font-weight: 500;
  color: rgb(51,51,51);
  border: 0px solid rgb(51,51,51);
  border-radius: 6px;
text-transform: uppercase;
line-height: 96px;
font-weight: bold;
clear: both;
font-family: 'Droid Sans',Arial,serif;
}
.droid {
  font-family: 'Droid Sans',Arial,serif;
}
.top-ten {
  padding-top: 10px !important;
  margin-top: 20px !important;
}
.top-twenty {
  padding-top: 20px !important;
  margin-top: 20px !important;
}
.justify-text {
  text-align: justify !important;
}
p.three-em {
  color: rgb(21, 172, 230);
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  color: rgb(21, 172, 230);
  padding: 10px;
}
.fa {
  padding-left: 20px;
}
.container-fluid .jumbotron {
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgb(21, 172, 230);
    background-color: transparent;
    margin-top: 120px;
    margin-bottom: 0px;
}
.right-align {
  text-align: right;
  background-color: transparent;
  border-color: transparent;

}
.left-align {
  text-align: left;
  background-color: transparent;
  border-color: transparent;

}
.padding-ten {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: rgba(236,236,236,0.78) !important;
}

h4 {
  margin-top: 5px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}
[class*="col-"] h2.frontpage {
  padding: 10px;
  font-size: 3em;
  font-size: 3vw;
  color: rgb(21, 172, 230);
  border: 1px solid rgb(21, 172, 230);
  border-radius: 6px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
[class*="col-"] {
  height: 90%;
  padding-bottom: 5px;
}
.container-fluid .row {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.header-div {
  color: rgb(51, 51, 51);
  background-color: rgb(21, 172, 230) !important;
  border-radius: 6px;
}
.whoiam {
  color: rgb(51, 51, 51);
  background-color: transparent !important;
  border-radius: 6px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dark-body {
  background-color: rgba(0,0,0,1.0);
}
.navbar-inverse .navbar-offcanvas .navmenu-brand {
    color: rgb(21, 172, 230);
}
.social-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.social-toolbar {
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.dark-p {
  color: rgb(51,51,51) !important;
}
.border-on {
  border: 1px solid rgb(21, 172, 230);
  border-radius: 6px;
}
.border-top {
  border-top: 1px solid rgb(21, 172, 230);
}
input, textarea {
  width: 100%;
  color: rgb(21, 172, 230);
}
.orange-border {
  border: 1px solid rgb(21, 172, 230) !important;
  color: rgb(21, 172, 230) !important;
}
.orange-text {
  color: rgb(21, 172, 230) !important;
}
label {
  color: rgb(21, 172, 230);
  padding-top: 10px;
  padding-bottom: 2px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: rgb(21, 172, 230);
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
}
.btn-primary {
    color: rgba(21, 172, 230, 1.0);
    background-color: rgb(51,51,51);
    border-color: rgba(21, 172, 230, 1.0);
}
.remove-border {
  border: 0px solid #ffffff !important;
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
