/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
background-color: rgba(51,51,51, 1.0);
}

/* footer */
.footer {
margin-top: 45px;
padding-top: 20px;
border-top: 1px solid rgb(21, 172, 230);
color: #999;
position: fixed !important;
bottom: 0 !important;
}
.footer a {
color: rgb(21, 172, 230);
}
.footer.footer-fade a {
color: rgb(255, 255, 255);
}
.footer a:hover {
color: #fff;
text-decoration: none;
}
.footer small {
float: left;
color: rgb(21, 172, 230);
}
.footer ul {
float: right;
list-style: none;
}
.footer ul li {
float: left;
margin-left: 10px;
}
.footer.footer-fade small {
color: rgb(153, 153, 153) !important;
}
