<div class="social-toolbar">
  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/djalexscott" target="_blank" alt="ALXS on Facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="btn btn-social-icon btn-github" href="https://github.com/tipsforthings" target="_blank" alt="ALXS (Tips for Things) on Github">
    <i class="fa fa-github"></i>
  </a>
  <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/116471654573031381012/about" target="_blank" alt="ALXS on Google+">
    <i class="fa fa-google-plus"></i>
  </a>
  <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/djalexscott" target="_blank" alt="ALXS on Twitter">
    <i class="fa fa-twitter"></i>
  </a>
</div> 
