<div class="social-container container-xs-height">
  <div class="social-toolbar">
    <a class="btn btn-social-icon btn-facebook" href="#" alt="TrackMyMixes on Facebook">
      <i class="fa fa-facebook"></i>
    </a>
<!--    <a class="btn btn-social-icon btn-github" href="https://github.com/tipsforthings" target="_blank" alt="ALXS (Tips for Things) on Github">
      <i class="fa fa-github"></i>
    </a> -->
    <a class="btn btn-social-icon btn-google-plus" href="#" target="_blank" alt="TrackMyMixes on Google+">
      <i class="fa fa-google-plus"></i>
    </a>
    <a class="btn btn-social-icon btn-twitter" href="#" target="_blank" alt="TrackMyMixes on Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </div> 
</div>
